nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
}

h1,
h2 {
  background-image: url("forgedcarbon.jpeg");
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
  color: orange;
}

form {
  background-image: url("forgedcarbon.jpeg");
  max-width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  color: orange;
  margin: 0 auto;
}

.profile {
  border: 5px solid black;
  color: white;
  background-image: url("forgedcarbon.jpeg");
  border-radius: 15px;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;

  text-align: center;
}
