<h1>Welcome to the ads page</h1>
<% for (let i = 0; i < advertisements.length; i++) { %> 
    <% let ad = advertisements[i]; %> 
    <div class="form-group">
      <h5 class=""><%= ad.title %> </h5>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="form-group">
          <h6 class=""><%= ad.subtitle  %></h6>
          <p><%= ad.content %> </p>
          <a href="/ads/<%= ad.id %>" class="btn btn-primary">Review Ad</a>
        </div>
      </div>
<% } %> 