<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title"><%= ad.title %></h2>
      <h4 class="card-title"><%= ad.subtitle %></h4>
      <p class="card-text"><%= ad.content %> </p>
      <p class="card-text"><%= ad.User.email %> </p>
    </div>
</div>
<%# Add comment below here %> 